table{
    display: flex;
}

td{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height: 60px;
    border:2px solid black;
    font-size: 30px;
    margin-right:-2px;
    margin-bottom: -2px;
    transition: background-color 1s ease;
}

.helpBoard{
    position: absolute;
    top:0;
    left: 600px;
}

.helpBoard td{
    font-size: 20px;
}

.scoreboard{
    position: absolute;
    top:0;
    left: 1200px;
    display: flex;
    width:100px;
    height:100px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border:5px solid black;
    border-radius: 100px;
}

.upcomingBallsBoard{
    position: absolute;
    top:0;
    left: 1400px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    border:2px solid black;
}